/*
Project: QAB 400 Designsystem
Author: Enno Hyttrek for Quilt And Blanket
Description: QAB 400 is the base design system for all other QAB design systems. It is simple and effective.
It builds on native CSS and vanilla JavaScript only, no frameworks or libraries.
*/

/*--------------
RESET
--------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

nav a,
a.btn {
  text-decoration: none;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

nav ul {
  list-style: none;
}

/*--------------
LAYOUT
--------------*/

/**-----
Layout Vars
------**/

:root {
  /*space*/
  --layout-space-200: 0.42rem;
  --layout-space-200: 0.55rem;
  --layout-space-300: 0.76rem;
  --layout-space-400: 1.1rem;

  /*radius*/
  --layout-radius-100: 0.13rem;
  --layout-radius-200: 0.21rem;
  --layout-radius-300: 0.34rem;
  --layout-radius-400: 0.55rem;
  --layout-radius-500: 1.1rem;
  --layout-radius-600: 2.1rem;
  --layout-radius-700: 3.4rem;
}

/**-----
Base Layout
------**/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

.container {
  width: min(100%, 76rem);
  margin-inline: auto;
  padding: 1rem 0.5rem;
}

.main-header {
  min-height: 15vh;
}

main {
  min-height: 76vh;
}

footer {
  min-height: 21vh;
}

/**-----
Content Widths
Experimental classes for controlling readability of body text in different contexts. Might become obsolete with proper use of grid layouts and/or column count.
------**/

.w34 p {
  max-width: 34rem;
}

.w42 p {
  max-width: 55rem;
}

.w55 p {
  max-width: 55rem;
}

/**-----
Ratio 
Soft aspect-ratio using container queries - elements maintain aspect ratio
as minimum height but can grow vertically with content.
------**/

.tile-wrapper {
  container-type: inline-size;
}

.ratio-100 {
  min-height: 100cqw; /* 1:1 ratio */
}

.ratio-200 {
  min-height: 75cqw; /* 4:3 ratio */
}

.ratio-300 {
  min-height: 70.92cqw; /* √2:1 ratio (1.41:1) */
}

.ratio-400 {
  min-height: 61.8cqw; /* Golden ratio (1.618:1) */
}

/**-----
Grids
------**/

.grid {
  display: grid;
  gap: var(--layout-space-400);
}

.grid-200 {
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

.grid-300 {
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
}

.grid-400 {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

/*--------------
NAVIGATION
--------------*/

.main-nav {
  border-bottom: 1px solid var(--color-grey-200);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  gap: var(--layout-space-400);
}

/*--------------
COLOR
--------------*/

/**-----
Color Vars
------**/

:root {
  --color-hue-base-400: 199;
  --color-hue-base-500: 34;

  /*Grey Scale*/
  --color-grey-100: hsl(var(--color-hue-base-400), 5%, 97%);
  --color-grey-200: hsl(var(--color-hue-base-400), 8%, 89%);
  --color-grey-300: hsl(var(--color-hue-base-400), 13%, 68%);
  --color-grey-380: hsla(var(--color-hue-base-400), 13%, 68%, 0.8);
  --color-grey-360: hsla(var(--color-hue-base-400), 13%, 68%, 0.6);
  --color-grey-400: hsl(var(--color-hue-base-400), 21%, 55%);
  --color-grey-500: hsl(var(--color-hue-base-400), 34%, 34%);
  --color-grey-600: hsl(var(--color-hue-base-400), 42%, 21%);
  --color-grey-700: hsl(var(--color-hue-base-400), 55%, 8%);

  /*Accents*/
  --color-accent-400: hsl(var(--color-hue-base-500), 97%, 55%);
}

/**-----
Base Colors
------**/

body {
  color: var(--color-grey-500);
}

.main-nav,
.header-400 {
  background: var(--color-grey-100);
  color: var(--color-grey-600);
}

.footer-400 {
  background: var(--color-grey-600);
  color: var(--color-grey-200);
}

.btn {
  background: var(--color-grey-300);
  color: var(--color-grey-700);
  cursor: pointer;
}

.btn:hover {
  background: var(--color-grey-600);
  color: #fff;
}

.tile {
  background: var(--color-grey-100);
  border: 1px solid var(--color-grey-200);
  color: var(--color-grey-700);
}

.card {
  background: var(--color-grey-100);
  border: 1px solid var(--color-grey-360);
  color: var(--color-grey-700);
}

a:hover,
a:active,
.current-page {
  color: var(--color-accent-400);
}

/**-----
Color Schemes
------**/

/*--------------
TYPOGRAPHY
--------------*/

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body,
button {
  font-weight: 300;
  line-height: 1.44;
}

/**-----
Font Sizes
------**/

body,
.p-400 {
  font-size: 1rem;
}

footer,
.p-200 {
  font-size: 0.825rem;
}

h3,
.p-600 {
  font-size: 1.25rem;
}

/**-----
Font Weights
------**/

.nav-bar > li a {
  font-weight: 600;
}

